body {
    background-image: url("https://images.unsplash.com/photo-1514890547357-a9ee288728e0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MTN8aFFlVG9uVFJzeE18fGVufDB8fHx8&auto=format&fit=crop&w=600&q=60");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}
#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    color: #820000;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    margin-top: 5px;
}
#italy {
    font-size: 20px;
    margin-top: 30px;
}
#allContainers {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#container1, #container2 {
    background-color: #C6DCE4;
    opacity: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 200px;
    height: 320px;
    border: 1px solid #53BF9D;
    border-radius: 40px;
}
p {
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    margin-left: 10px;
}
input {
    font-family: 'Dancing Script', cursive;
    font-size: 17px;
    border: none;
    border-radius: 10px;
    padding: 5px;
    width: 60%;
    margin-left: 10px;
}
#btn {
    
    font-size: 15px;
    background-color: #53BF9D;
    padding: 15px;
    border: none;
    border-radius: 10px;
    width: 60%;
    margin-left: 10px;
    margin-top: 20px;
}
#spentTogether, #spentEach {
    display: flex;
    flex-direction: column;
    background-color: #C6DCE4;
    opacity: 0;
    width: 150px;
    height: 170px;
    border: 1px solid #53BF9D;
    border-radius: 40px;
}
#price {
    font-family: 'Dancing Script', cursive;
    font-size: 18px;
    align-self: center;
}
#paidTogether, #paidPerPerson {
    align-self: center;
    font-family: 'Dancing Script', cursive;
    font-size: 15px;
}
@media all and (max-width: 500px) {
    #allContainers {
        display: flex;
        flex-direction: column;
    }
} 